<div class=container>
  <h1>Test</h1>
</div>

<ul>
  <li><strong>Length of Mirage Generated List:</strong> {{model.accounts.data.length}}</li>
  <li><strong>Name of Second Entry from Mirage List:</strong> {{model.account2.data.attributes.name}}</li>
</ul>
