<div class=container>
  <h1>Accounts</h1>

    <ul>
      {{#each model.accounts.data as |account| }}
      {{#link-to 'site' account.id}}<li>{{account.attributes.name}}</li>{{/link-to}}
      {{/each}}
    </ul>
  

</div>
