<div class=container>
  <h1>Index</h1>
  <ul>
    <li><strong>Accounts</strong></li>
      {{#each model.accounts.data as |account| }}
      {{#link-to 'site' account.id}}<li>{{account.attributes.name}}</li>{{/link-to}}
      {{/each}}
  </ul>
</div>
