<div class=container>
  <h1>Index</h1>

  <ul>
    <li><strong>Accounts</strong></li>
    <ul>
      {{#each model.accounts.data as |account| }}
        {{#link-to 'site' account.id}}<li>{{account.attributes.name}}</li>{{/link-to}}
      {{/each}}
    </ul>
    <li><strong>Total:</strong> {{model.accounts.data.length}}</li>
  </ul>
{{#link-to 'location'}}Location page{{/link-to}}
<br>
{{#link-to 'site'}}Site page{{/link-to}}
<br>
{{#link-to 'asset'}}Asset Page{{/link-to}}

</div>
